.TNG_block_container_footer_registration_banner{
margin-bottom: 15px;
}

.TNG_block_content_footer_registration_banner{
width: 100%;
}

.TNG_block_content_footer_registration_banner img{
border:none;
}